#course-list{
    border-bottom: 1px solid grey;
    
  }
  #name{
    margin-left: 100px;
    color: rgb(42, 115, 204);
    
  }
  #btn{
    margin-bottom: 10px;
    
  }
  #btn{
      background-color: rgb(42, 115, 204);
      color: white;
  }